#empresas-buscar-container,
#empresas-crear-container{
    margin-top: 150px;
}

.react-bs-table-sizePerPage-dropdown .dropdown-toggle{
    float: left;
    margin-bottom: 20px;
}

.search-Label {
    float: right;
    padding-bottom: 10px;
}

.sr-only {
    font-size: 0;
}

#empresas-container {
    margin-top: 130px;
    
}

#empresas-crear-container .form-label{
    float: left;
    margin-top: 10px;
}
